@use "../abstracts/variables";

.info {
    width: 70%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        color: variables.$footerText;
        padding: 0 2vw;
    
        & > p {
            padding: 0 1rem; 
        }


        p:hover {
            color: rgb(163, 163, 163);
            cursor: pointer;
        }
    }
}

.socials {
    width: 30%;
    height: 20vh;
    border-left: 1px solid rgba(143, 143, 143, 0.7);
    padding-left: 6vw;
    display: flex;
    align-items: center;

    .fa-facebook-square, .fa-youtube, .fa-instagram, .fa-github {
        font-size: 2.2rem;
        color: variables.$footerText;
        margin: 0 1vw;

        &:hover {
            color: rgb(163, 163, 163);
            cursor: pointer;
        }
    }
}
