@use "../abstracts/variables";

.info {
    width: 70%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        color: variables.$footerText;
        padding-right: 5vw;
    
        & > p {
            padding: 0 1rem;
    
            &:hover {
                color: rgb(163, 163, 163);
                cursor: pointer;
            }
        }
    }
}

.socials {
    width: 30%;
    height: 20vh;
    padding-left: 5vw;
    border-left: 1px solid rgba(143, 143, 143, 0.7);
    display: flex;
    align-items: center;

    .fa-facebook-square, .fa-youtube, .fa-instagram, .fa-github {
        width: 2.5vw;
        height: 2.5vw;
        color: variables.$footerText;
        margin: 0 1vw;

        &:hover {
            color: rgb(163, 163, 163);
            cursor: pointer;
        }
    }
}
