*, :after, :before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: relative;
}

header {
    top: 0;
    position: sticky;
    z-index: 1;
}

main {
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
}