@use '../abstracts/variables';

*, :after, :before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
}

header {
    top: 0;
    position: sticky;
    z-index: 1;
}

main {
    top: 0;
    width: 100%;
    display: block;
}

footer {
    height: 30vh;
    width: 100%;
    background-color: variables.$footerBackground;
    display: flex;
    align-items: center;
}