@use "../abstracts/variables";

.nav {
    display: flex;
    justify-content: center;
    background-color: variables.$headerBackground;
    
    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        font-size: 1rem;
        padding: 1.2rem 1.2rem;
        text-transform: uppercase;

        & > :hover {
            color: white;
        }
    }

    &__element {
        text-decoration: none;
        color: variables.$headerText;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            height: 1px;
            background-color: white;
            transition: all 0.3s ease-in-out;  
        }

        &:hover {
            &::after {
                left: 0%;
                width: 100%;
            }
        }
    }
}



