@use "../abstracts/variables";
@use "../abstracts/animations";

.section-five {
    width: 100%;
    position: relative;
    overflow: hidden;

    h2 {
        font-size: 12vw;
        color: variables.$titleColor;
        text-transform: uppercase;
        margin-top: 20vh;
        z-index: -1;
        padding: 0.5rem;
        margin-left: 40vw;
    }

    & > span:nth-of-type(1) {
        position: absolute;
        font-size: 50vw;
        color: variables.$backgroundTextColor;
        overflow: hidden;
        font-weight: 700;
        z-index: -2;
        top: 2vh;
    }

    & > span:nth-of-type(2) {
        position: absolute;
        font-size: 50vw;
        color: variables.$backgroundTextColor;
        overflow: hidden;
        font-weight: 700;
        z-index: -2;
        top: 120vh;
        left: -60vw;
    }

    &__container {
        max-width: 100%;
        margin: 5% 0 10% 0;
        display: flex;
        justify-content: space-evenly;
    }

    &__card {
        width: 25%;
        height: 60vh;
        position: relative;
        transition: all 0.3s linear;
        box-shadow: 2px 4px 5px rgb(155, 155, 155);
        overflow: hidden;

        &__img1 {
            background: url('../images/design1.jpg');
            background-size: cover;
            background-position: center;
        }

        &__img2 {
            background: url('../images/design2.jpg');
            background-size: cover;
            background-position: center;
        }

        &__img3 {
            background: url('../images/design3.jpg');
            background-size: cover;
            background-position: center;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%,
                            rgba(255, 255, 255, 0.6) 60%,
                            rgba(255, 255, 255, 0) 70%,
                            rgba(255, 255, 255, 0.6) 70%,
                            rgba(255, 255, 255, 0.6) 100%);
            transition: all 1s cubic-bezier(0.19, 0.2, 0.22, 1);
        }

        &:hover {
            transform: scale(1.05);

            &::before {
                transform: translate(100%, -100%);
            }
        }
    }

    &__area {
        width: 100%;
    }

    &__box1, &__box3 {
        position: relative;
        height: 30vw;
        width: 100%;
        background-color: rgba(255, 0, 0, 0.2);
    }

    &__box2 {
        position: relative;
        height: 30vw;
        width: 100%;
        margin: 1vh 0;
    }

    &__element1 {
        background: url('../images/design4.jpg');
        background-size: cover;
        background-position: center;
        position: absolute;
        height: 100%;
        width: 100%;
        clip-path: polygon(0 0, 40% 0, 60% 100%, 5% 100%, 0 70%);
        left: 0;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color:rgba(255, 0, 0, 0.2);
            right: 30%;
            top: 30%;
            clip-path: polygon(0 0, 40% 0, 60% 100%, 5% 100%, 0 70%);
        }
    }

    &__text1 {
        margin-left: 60vw;
        position: absolute;
        max-width: 30vw;
        top: 50%;
        transform: translateY(-50%);
    }

    &__element2 {
        background: url('../images/design5.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        clip-path: polygon(10% 0, 65% 0, 85% 100%, 25% 100%);

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color:rgba(255, 0, 0, 0.1);
            left: 10%;
            bottom: 20%;
            clip-path: polygon(10% 0, 65% 0, 85% 100%, 25% 100%);
        }
    }

    &__element3 {
        background: url('../images/design6.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        clip-path: polygon(35% 0, 95% 0, 100% 25%, 100% 100%, 50% 100%);
    }

    &__text2 {
        position: absolute;
        max-width: 30vw;
        margin-left: 5vw;
        top: 50%;
        transform: translateY(-50%);
    }
}
