@use "../abstracts/variables";

.section-three {
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;

    &__container {
        position: relative;
        margin: auto;
        width: calc(100% / 3);
        
        img {
            width: 100%;
        }

        .prevBtn {
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            cursor: pointer;

            &--shape {
                width: 100%;
                height: 100%;
                clip-path: polygon(100% 0, 80% 50%, 100% 100%, 70% 100%, 50% 50%, 70% 0);
                background-color: variables.$hoverColor;
                opacity: 0;
                z-index: 5;
                transition: opacity 0.5s linear;
            }

            &:hover > div {
                opacity: 0.4;
            }
        }

        .nextBtn {
            position: absolute;
            left: 100%;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            cursor: pointer;

            &--shape {
                width: 100%;
                height: 100%;
                clip-path: polygon(30% 0, 50% 50%, 30% 100%, 0 100%, 20% 50%, 0 0);
                background-color: variables.$hoverColor;
                opacity: 0;
                z-index: 5;
                transition: opacity 0.5s linear;
            }

            &:hover > div {
                opacity: 0.4;
            }
        }
    }

    &__carousel {
        display: flex;
    }
}