@use "../abstracts/variables";

.section-one {
    background: url('../images/pic1.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 10vh;
        width: 100%;
        color: variables.$mainColor;
        position: relative;

        p {
            opacity: 0;
        }

        h1 {
            text-align: center;
            font-size: 3rem;
            text-transform: uppercase;
            padding: 0 0 0.25rem 0;
            opacity: 0;
        }

        hr {
            position: relative;
            top: 10vh;
            width: 100%;
            opacity: 0.5;
        }
    }

    &__active {
        transition: all 0.5s ease-in;
        transform: translateY(10vh);
    }
}