@use "../abstracts/variables";

.section-four {
    width: 100%;
    position: relative;
    overflow: hidden;

    h2 {
        font-size: 6vw;
        color: variables.$titleColor;
        text-transform: uppercase;
        margin-top: 10vh;
        z-index: -1;
        text-align: center;
        padding: 2rem;
    }

    & > span:nth-of-type(1) {
        position: absolute;
        font-size: 50vw;
        color: variables.$backgroundTextColor;
        overflow: hidden;
        font-weight: 700;
        z-index: -2;
        top: -10vh;
    }

    & > span:nth-of-type(2) {
        position: absolute;
        font-size: 50vw;
        color: variables.$backgroundTextColor;
        overflow: hidden;
        font-weight: 700;
        z-index: -2;
        top: 90vh;
        left: -60vw;
    }

    &__container1 {
        margin-top: 10vh;
        width: 100%;
        display: flex;
    }

    &__container2 {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__text1  {
        align-self: center;
        margin: auto;
        max-width: 35vw;

        h1 {
            text-transform: uppercase;
            color: variables.$textColor;
            padding: 0 0 0.1rem 0;
        } 

        p {
            color: variables.$textColor;
        }
    }

    &__text2 {
        align-self: center;
        margin: auto;
        max-width: 30vw;

        h1 {
            text-transform: uppercase;
            color: variables.$textColor;
            padding: 0 0 0.1rem 0;
        } 

        p {
            padding: 0;
            margin: 0;
            color: variables.$textColor;
        }
    }

    &__image1 {
        background: url('../images/engine1.jpg');
        background-position: center;
        background-size: cover;
        width: 55%;
        height: 35vw;
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    }

    &__image2 {
        background: url('../images/engine2.jpg');
        background-position: center;
        background-size: cover;
        
        width: 50%;
        height: 35vw;
        clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
    }
}