@use '../abstracts/variables';

.section-two {
    display: block;
    background: url('../images/pic2.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__h1{
        position: relative;
        left: -100vw;
        text-transform: uppercase;
        font-size: 4rem;
        padding-left: auto;
        color: variables.$htextColor;

        &--active {
            transform: translateX(105vw);
            transition: transform 1.5s ease-in;
        }

        &--moving{
            transition: transform 10s linear;
            transform: translateX(108vw);
        }
    }

    &__p1 {
        position: relative;
        left: 10vw;
        font-size: 1rem;
        color: variables.$ptextColor;
        opacity: 0;
        transition: opacity 3s ease-in-out;
    }

    &__area {
        position: absolute;
        top: 60vh;
        left: 100vw;
        width: 50vw;

        &--active{
            transform: translateX(-50vw);
            transition: transform 1s ease-in;
        }
    }

    &__h2 {
        text-transform: uppercase;
        font-size: 2rem;
        color: variables.$htextColor;
    }

    &__p2 {
        color: variables.$ptextColor;
        padding-left: 1rem;
    }
}

#overview {
    position: absolute;
    top: -10vh;
}