@use "../abstracts/variables";

.section-three {
    width: 100%;
    overflow: hidden;

    input {
        display: none;
    }

    &__labels {
        position: absolute;
        bottom: 2rem;
        z-index: 3;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__label {
        border: 1px solid white;
        border-radius: 50%;
        padding: 0.6vw;
        z-index: 3;
        cursor: pointer;
        
        &:not(:last-child) {
            margin-right: 1vw;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    &__labelChecked {
        position: absolute;
        bottom: 2rem;
        display: flex;
        left: 50%;
        z-index: 2;
        transform: translateX(-50%);

        & > div {
            border: 1px solid rgba(255, 255, 255, 0);
            padding: 0.6vw;
            border-radius: 50%;

            &:not(:last-child) {
                margin-right: 1vw;
            }
        }
    }

    #radio1:checked ~ .section-three__labelChecked > .section-three__labelChecked--bg1 {
        background-color: rgba(255, 255, 255, 0.9);
    }

    #radio2:checked ~ .section-three__labelChecked > .section-three__labelChecked--bg2 {
        background-color: rgba(255, 255, 255, 0.9);
    }

    #radio3:checked ~ .section-three__labelChecked > .section-three__labelChecked--bg3 {
        background-color: rgba(255, 255, 255, 0.9);
    }

    #radio4:checked ~ .section-three__labelChecked > .section-three__labelChecked--bg4 {
        background-color: rgba(255, 255, 255, 0.9);
    }

    #radio5:checked ~ .section-three__labelChecked > .section-three__labelChecked--bg5 {
        background-color: rgba(255, 255, 255, 0.9);
    }

    &__container {
        position: relative;
        margin: auto;
        width: calc(100% / 3);

        img {
            width: 100%;
        }

        .prevBtn {
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            cursor: pointer;

            &--shape {
                width: 100%;
                height: 100%;
                clip-path: polygon(100% 0, 80% 50%, 100% 100%, 70% 100%, 50% 50%, 70% 0);
                background-color: variables.$hoverColor;
                opacity: 0;
                z-index: 5;
                transition: opacity 0.5s linear;
            }

            &:hover > div {
                opacity: 0.4;
            }
        }

        .nextBtn {
            position: absolute;
            left: 100%;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            cursor: pointer;

            &--shape {
                width: 100%;
                height: 100%;
                clip-path: polygon(30% 0, 50% 50%, 30% 100%, 0 100%, 20% 50%, 0 0);
                background-color: variables.$hoverColor;
                opacity: 0;
                z-index: 5;
                transition: opacity 0.5s linear;
            }

            &:hover > div {
                opacity: 0.4;
            }
        }
    }

    &__carousel {
        display: flex;
    }
}