
@media screen and (max-width: 1024px) {
    .nav {
        background-color: blue;
    }

    .section-two {
        &__h1 {
            font-size: calc(3rem + 1vw);

            &--active {
                transform: translateX(101vw);
            }
    
            &--moving{
                transform: translateX(105vw);
            }
        }
    }

    .section-four {
        &__text1 {
            h1 {
                font-size: calc(1rem + 0.5vw);
            }
        }

        &__text2 {
            h1 {
                font-size: calc(1rem + 0.5vw);
            }
        }
    }

    .section-six {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;

        h2 {
            margin: auto;
        }

        &__sentence {
            margin: auto;
        }

        &__container {
            justify-content: center;
            grid-template-columns: repeat(2, minmax(17rem, 30vw));
            grid-template-rows: repeat(2, minmax(20rem, 40vw));
            row-gap: 5vw;
            column-gap: 5vw;
        }

        &__element {
            height: 100%;
        }

        &__image1, &__image2, &__image3, &__image4 {
            height: 75%;
        }
    }

    .info {
        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;

            & > p {
                padding: 0.2rem 4vw;
            }
        }
    }

    .socials {
        width: initial;
        height: initial;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding-left: 7vw;

        .fa-facebook-square, .fa-youtube, .fa-instagram, .fa-github {
            margin: 1.5vw;
        }
    }
}

@media screen and (max-width: 820px) {
    .nav {
        background-color: red;
        display: none;
    }
}


