//---------------HEADER------------
$headerBackground: rgb(37, 37, 37);
$headerText: rgba(255, 255, 255, 0.8);
$hamburger: rgba(53, 53, 53, 0.98);

//-----------SECTION-TWO-----------
$mainColor: rgb(255, 255, 255);

//-----------SECTION-TWO-----------
$ptextColor: rgb(153, 153, 153);
$htextColor: rgb(255, 255, 255);

//-----------SECTION-THREE-----------
$hoverColor: rgba(255, 255, 255, 0.3);

//------------SECTION-FOUR/FIVE---------
$titleColor: rgb(59, 59, 59);
$backgroundTextColor: rgb(243, 243, 243);
$textColor: rgb(29, 29, 29);

//------------SECTION-SIX--------------
$color: rgb(85, 255, 51, 1);
$interior: rgb(255, 19, 19, 1);
$systems: rgb(0, 255, 255, 1);
$rims: rgb(58, 58, 58, 1);

//------------SECTION-SEVEN--------------
$futureColor: rgb(255, 255, 255); 

//------------FOOTER------------------
$footerBackground: rgb(19, 19, 19);
$footerText: rgb(80, 80, 80);