//---------------HEADER------------
$headerBackground: rgb(37, 37, 37);
$headerText: rgba(255, 255, 255, 0.8);

//-----------SECTION-TWO---------
$textColor: rgb(155, 155, 155);


//-----------SECTION-THREE---------
$hoverColor: rgba(255, 255, 255, 0.3);

//------------SECTION-FOUR/FIVE---------
$titleColor: rgb(59, 59, 59);
$backgroundTextColor: rgb(243, 243, 243);
$textColor: rgb(29, 29, 29);

//------------FOOTER---------
$footerBackground: rgb(19, 19, 19);
$footerText: rgb(80, 80, 80);