//---------------HEADER------------
$headerBackground: rgba(61, 61, 61, 0.4);
$headerText: rgba(255, 255, 255, 0.7);

//-----------SECTION-THREE---------
$hoverColor: rgba(255, 255, 255, 0.3);

//------------SECTION-FOUR/FIVE---------
$titleColor: rgb(129, 129, 129);
$backgroundTextColor: rgb(243, 243, 243);
$textColor: rgb(29, 29, 29);

//------------SECTION-FIVE---------