//abstracts
// @use "abstracts/variables";
// @use "abstracts/animations";

//layout
@use "layout/general";
@use "layout/header";
@use "layout/section-one";
@use "layout/section-two";
@use "layout/section-three";
@use "layout/section-four";
@use "layout/section-five";
@use "layout/section-six";
@use "layout/section-seven";